#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <38 37>;
        };

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <37 36>;
        };

        setting {
            bindings = <&mo 7>;
            key-positions = <28 16>;
            layers = <0>;
        };

        up {
            bindings = <&kp UP_ARROW>;
            key-positions = <14 26>;
        };

        down {
            bindings = <&kp DOWN_ARROW>;
            key-positions = <26 38>;
        };

        rght {
            bindings = <&kp RIGHT_ARROW>;
            key-positions = <27 26>;
        };

        left {
            bindings = <&kp LEFT>;
            key-positions = <26 25>;
        };

        bs {
            bindings = <&kp BSPC>;
            key-positions = <40 41>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <22 23>;
        };

        bs2 {
            bindings = <&kp BSPC>;
            key-positions = <9 8>;
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        encoder_msc_l_r: encoder_msc_l_r {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_L_R";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };
    };

    macros {
        new_macro_test: new_macro_test {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_NUMBER_0 &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_0 &kp KP_NUMBER_0 &kp KP_NUMBER_1>;
            label = "NEW_MACRO_TEST";
        };

        new_macro_test2: new_macro_test2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "NEW_MACRO_TEST2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W           &kp E         &kp R      &kp T                                        &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A             &kp S           &kp D         &kp F      &kp G        &mkp MB3          &lt 7 ESCAPE  &kp H        &kp J  &lt 5 K    &kp L    &kp MINUS
&mt LEFT_SHIFT Z  &kp X           &kp C         &kp V      &kp B        &kp LEFT_WIN      &kp BSPC      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&mt LCTRL TAB     &kp LEFT_SHIFT  &kp LEFT_ALT  &kp LCTRL  &lt 1 SPACE  &lt 2 SPACE       &lt 1 DEL     &lt 2 ENTER                             &to 4
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        NUM {
            bindings = <
&kp EQUAL       &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BSPC                               &kp LCTRL        &kp AMPERSAND         &kp DOLLAR             &kp TILDE    &kp SEMICOLON
&kp SLASH       &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MINUS  &kp UNDER        &trans  &kp EXCLAMATION  &kp QUESTION          &kp SQT                &kp AT_SIGN  &kp COLON
&kp ASTERISK    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_PLUS   &kp PERCENT      &trans  &trans           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE     &kp BSLH
&kp UNDERSCORE  &kp KP_NUMBER_0  &kp KP_DOT       &trans           &trans        &trans           &trans  &trans                                                                     &trans
            >;
        };

        FANC {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4          &kp F5                                       &kp F6             &kp F7                &kp F8                 &kp F9    &kp F10
&trans  &trans  &trans  &trans          &kp UP_ARROW    &trans               &trans  &kp DOUBLE_QUOTES  &kp HASH              &kp SQT                &kp AT    &kp COLON
&trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW      &trans  &trans             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE  &kp BACKSLASH
&trans  &trans  &trans  &trans          &trans          &trans               &trans  &trans                                                                    &trans
            >;

            sensor-bindings = <&encoder_msc_l_r>;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &mkp MB1   &mkp MB1  &mkp MB2  &trans  &mo 5
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &mkp MB1   &mkp MB1  &mkp MB2  &trans  &mo 5
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans     &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp DEL  &kp ENTER                              &to 0
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        setting {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans               &trans      &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans               &trans      &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &new_macro_test      &bt BT_CLR  &trans                                                  &trans
            >;
        };
    };
};
